*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    width: 164px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Segoe UI";
  }

  .right ul {
    display: flex;
    gap: 34px;
  }

  .right ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .right ul li span {
    padding: 0px 5px;
  }

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px;
    gap: 14px;
  }

  .first span {
    font-family: "Segoe UI";
    font-size: 48px;
  }

  section p {
    font-family: "Segoe UI";
    font-size: 24px;
    width: 65vw;
    text-align: center;
  }

  section span img {
    width: 120px;
    margin: 0 23px;
  }

  .btn {
    padding: 14px 16px;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin: 2px;
    cursor: pointer;
  }

  .btn a{
    text-decoration: none;
    color: white;
  }

  .blue {
    background-color: #00b6d1;
  }

  .green {
    background-color: #5cb85c;
  }

  .second {
    max-width: 65vw;
    margin: auto;
  }

  .second .small {
    font-size: 12px;
  }
  .second .large {
    font-size: 23px;
   }

  .item {
    border-radius: 2px;
    background-color: #f9f9f9;
    padding: 7px;
    text-align: center;
  }

  .item-lang{
    font-weight: 700;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 45px;
    padding-top: 7px;
    font-size: 20px;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }


  .download{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 35px 0px;
  }

  @media screen and (max-width: 755px) {
    .grid{
      grid-template-columns: 1fr;
    }
  }