<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/output.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>Hello World</h1>
  <h1 class="text-3xl font-bold underline bg-red-500">
    Hello world, this shold be 3xl
  </h1>
</body>
</html>